objs
libgrt.a
*.out
*.DS_Store
*.o
moc*
build/examples/*.txt
build/examples/*.csv
build/examples/*.grt
obj/
libs/
build/
gui/build-GRT-Desktop_Qt_5_5_0_clang_64bit-Debug
gui/build-GRT-iphoneos_clang_Qt_5_5_0_for_iOS-Debug